@import "functions";
@import "breakpoints";
@import "colors";

@mixin font-style($fs: 1, $fw: 500,  $lh: 1, $font: Inter) {
  font-family: $font, serif;
  font-style: normal;
  font-weight: $fw;
  line-height: rem($lh);
  font-size: rem($fs);
}

@mixin custom-breakpoint ($breakpoint) { //the name of the mixin is devices

  @media only screen and #{$breakpoint} {
    @content;
  }

}

@mixin custom-breakpoint-only ($min, $max) {
  @include custom-breakpoint("(min-width: #{$min}) and (max-width: #{$max})") {
    @content
  }
}

@mixin layout-padding($pd) {

  padding-right: em($pd);
  padding-left: em($pd);

  @include media-breakpoint-up(lg) {
    padding-left: em($pd * 2);
    padding-right: em($pd * 2);
  }

  @include media-breakpoint-down(sm) {
    padding-left: em($pd / 2);
    padding-right: em($pd / 2);
  }

}

@mixin background-color-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}


@mixin app-btn($color: white, $bg: $app-color, $rd: 6px) {
  padding: em(10px) em(16px);
  background-color: $bg;
  color: $color;
  border-radius: $rd;
  height: 44px;
  border-color: $bg;

  &:hover, &:focus {
    @include background-color-opacity($app-color, .9)
  }

  span {
    @include font-style($fs: 14px, $lh: 20px,  $fw: 500);
  }

}

