@import "../../../assets/style/helpers";

.header-root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.app-navigation {
  flex-grow: 1;
  display: flex;
  align-items: center;

  .ant-space-item:nth-child(2) {
    flex-grow: 1;
  }
}

.organisation-name {
  $padding: em(10px);

  text-transform: uppercase;
  padding-right: $padding;
  padding-left: $padding;

  @include font-style($fs: 14px, $fw: 500,  $lh: 20px);
  color: $mainTextColor;
}

.organisation-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.user-avatar {
  background-color: $app-color;
  cursor: pointer;
}

.app-sidebar {

  .ant-drawer-body {
    padding: 0;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.ant-menu {

  .header-root & {
    border-bottom: none;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .app-sidebar & {
    border-right: none;
    padding: em(20px)  em(20px);
  }

}

.ant-menu-item {
  @include font-style($fs: 16px, $fw: 500,  $lh: 66px);

  .ant-menu-title-content a, .ant-menu-title-content a:hover {
    color: inherit;
  }

  .header-root & {
    &.ant-menu-item-selected span {
      padding: em(8px) em(12px);
      background-color: $app-color;
      color: white;
      border-radius: 6px;
    }

    &:hover {
      color: $app-color !important;
    }

    &::after {
      border-bottom: none !important;
    }
  }

  .app-sidebar &.ant-menu-item-selected {
    background-color: $app-color;
    color: white;
  }

}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-shortcuts {

  .sidebar-container & {
    margin-top: auto;
    padding: em(20px);
    border-top: 1px solid #f0f0f0;
    display: none;

    .ant-space {
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      display: block;
    }

    .ant-space-item:last-child {
      margin-left: auto;
    }
  }

  .shortcuts {
    cursor: pointer;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .ant-space-item:last-child {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .mobile-sidebar-trigger {
    margin-left: em(15px);
    cursor: pointer;
  }

  .ant-avatar {
    cursor: pointer;

    .header-root & {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

  }

}
