@import "../../assets/style/helpers";

main, .ant-layout {
  height: 100%;
}

.ant-layout-header {
  background-color: white;
  box-shadow: 0 0 12px 0 #EAECF0;
  height: 74px;

  @include media-breakpoint-up(lg) {
    padding-left: em(100px);
    padding-right: em(100px);
  }
}

.ant-layout-footer {
  background-color: white;
  //
  //@include media-breakpoint-down(sm) {
  //  display: none;
  //}
}